.app__skills {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__skillInstruction {
  text-align: center;
  padding: 5px;
  font-size: 12px;
  color: gray;
}

.app__infoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  padding: 30px;
  margin: 10px;
}

.app__infoBox--inactive {
  border: 3px dotted gray;
  color: gray;
  box-shadow: 1px 6px 9px 2px rgba(0, 0, 0, 0.26) inset;
}

.app__skillLogo {
  height: 50px;
  object-fit: contain;
  cursor: -webkit-grabbing;
  transition: transform 100ms ease-in;
}

.app__skillLogo:hover {
  transform: scale(1.1);
}

/* 
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(37, 148, 251);
}

.draggable {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 20rem;
  background-color: #9749FF;
  margin-right: 10px;
  color: white;
}

.drag_item {
  padding: 5px 10px;
  width: 8rem;
  height: auto;
  color: black;
  background-color: white;
} */